.c-pointer {
  cursor: pointer;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.d-flex {
	display: flex;
}
.justify-between {
  justify-content: space-between;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-uppercase {
	text-transform: uppercase;
}

.rotate {
  rotate: 180deg;
}

.pos-relative {
  position: relative;
}
